numpy
matplotlib
seaborn
pandas
xlrd
requests
openpyxl
#nbserverproxy
#serverextension
#bokeh.io
bokeh
#bokeh.layouts
#bokeh.plotting
#bokeh.plotting
#FionaGDAL
#Rtree
#Shapely
#geopandas
#scipy.stats